.home{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.home .form{
width: 50vw;
display: flex;
justify-content: center;
}

.home form{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
}

.home label{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    
}
.home label p{
    font-weight: 600;
}

.home label input[type="text"] ,input[type="email"]{
    height: 40px;
    width: 240px;
    cursor: pointer;
    padding-left: 20px;
    outline: none;
    border-radius: 4px;
    font-size: 16px;

}


.rdbtn{
    align-content: flex-start;
    display: flex;
    gap: 10px;
}


.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.btn button{
    padding: 13px 20px ;
    font-size: 17px;
    color: #fff;
    background-color: #0285F8;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 3px 3px 3px #eee;
    font-weight: 600;
    cursor: pointer;
}

.btn button:last-child{
    background-color: red;
}




.line{
    height: 60vh;
    width: 5px;
    background-color: #45D7AD;
    border-radius: 10px;

}


.students{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.students .student{
    width: 40vw;    
    box-shadow: 5px 6px 6px #eee;
    display: flex;
    border: 1px solid #719604;
}

.student .student_left{
    width: 70%;
    display: flex; 
    flex-direction: column;

}

.student_left .left_head{
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #A7C840;
    color: #fff;
   
}

.student_left .left_main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:7px;
    margin-left: 20px;
}

.left_main p{
    font-weight: 600;

}

.student_right{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #719604;

}

.student_right .right_head{
    background-color: #A7C840;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.right_main{
    width: 100%;
    padding: 10px;
}

.right_main img{
    width: 100%;
    object-fit: contain;
}

.link{
    color: blue;
    text-decoration:underline;
}